# Frontend Production & Development Environment Variable Template
VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=your_firebase_api_key
VITE_FIREBASE_AUTH_DOMAIN=scms-hackathon.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=scms-hackathon
VITE_FIREBASE_STORAGE_BUCKET=scms-hackathon.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=67897379992
VITE_FIREBASE_APP_ID=your_firebase_app_id
